<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <title>#{msgs.windowTitle}</title>
    </h:head>

    <h:body>
        <h:form>
            <span class="emphasis">#{msgs.pageTitle}</span>
            <h:panelGrid columns="2">
                #{msgs.streetAddressPrompt}
                <h:inputText value="#{form.streetAddress}"/>

                #{msgs.cityPrompt}
                <h:inputText value="#{form.city}"/>

                #{msgs.statePrompt}
                <h:inputText value="#{form.state}"/>

                #{msgs.countryPrompt}
                <!-- When the value in this combo box changes the listener is called -->
                <h:selectOneMenu value="#{form.country}" onchange="submit()"
                                 valueChangeListener="#{form.countryChanged}" immediate="true">
                    <f:selectItems value="#{form.countries}" var="loc"
                                   itemLabel="#{loc.displayCountry}" itemValue="#{loc.country}"/>
                </h:selectOneMenu>
            </h:panelGrid>
            <h:commandButton value="#{msgs.submit}"/>
        </h:form>
    </h:body>
</html>
